{% extends 'base.html' %}
{% load static %}

{% block hat %}
   {% if user %}
        {% with user as user %}
            {% include 'auth_base.html' %}
        {% endwith %}
    {% else %}
        {% with user as user%}
            {% include 'noauth_base.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row ml-4">
        <div class="col-4">
            <h4 class="mb-3 text-dark">New Questions</h4>
        </div>
        <div class="col-8">
            <a class="mb-3 text-dark" href="{% url 'hot_page' %}">Hot Questions</a>
        </div>
    </div>
    
    <hr>
    
    <div class="row">
    {% for question in questions %}
        {% with question as question %}
            {% include 'question_template.html' %}
        {% endwith %}
    {% endfor %}
    </div>
    <div class="row justify-content-center page-item">
    {% load bootstrap4 %}
    {% bootstrap_pagination questions %}
    </div>
{% endblock %}

