{% load static %} 

<div class="navbar-nav">
    <div class="navbar-item ">
        <div class="col-10 col-md-8 col-lg-6">
            <div class="row">
                <div class="col-12">
                    <a  class="p-2 text-white" href="{% url 'login_page'  %}">log in</a>
                </div>
                <div class="col-12">
                    <a class="p-2 text-white" href="{% url 'signup_page' %}">register</a>
                </div>
            </div>     
        </div>
    </div> 
</div>
