{% extends 'base.html' %}
{% load static %}

{% block hat %}
    {% if user.is_authenticated and user.is_active %}
        {% with user as user%}
            {% include 'auth_base.html' %}
        {% endwith %}
    {% else %}
        {% with user as user%}
            {% include 'noauth_base.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
                
{% block content%}
    <div>
        
        {% with main_question as question %}
            {% include 'main_question_template.html' %}
        {% endwith %}

    </div>
    
    <hr>

    <div class="row">
        
        {% for answer in answers %}
            {% with answer as answer %}
                {% include 'answer_template.html' %}
            {% endwith %}
        {% endfor %}
        
    </div>
    
    <hr>
    
    <form enctype="multipart/form-data" method="POST" class="post-form">
        {% csrf_token %}
        {% if user.is_authenticated and user.is_active %}
            <div class="form-group row">
                <div class="col-sm-10">
                    {{ form.description }}
                </div>
            </div>
        {% endif %}

        <button class="btn btn-dark my-2 my-sm-0" type="submit">Answer!</button>
    </form>
{% endblock %}
