{% extends 'base.html' %}
{% load static %}

{% block hat %}
{% include 'auth_base.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="font-weight-bold">
                <span>Settings: </span>
                <span>{{ user.nickname }}</span>
            </h3>
        </div>
    </div>
    
    <hr>
    
    <form enctype="multipart/form-data" method="POST" class="post-form">
        {% csrf_token %}
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Login:</label>
            <div class="col-sm-4">
                {{ form.username }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-4">
                {{ form.email }}
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nickname:</label>
            <div class="col-sm-4">
                {{ form.nickname }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Upload Avatar:</label>
            <div class="col-6" id="Image">
                {{ form.avatar_path }}
            </div>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Incorrect settings</strong>
            </div>
        {% endif %}
        
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Save!</button>
    </form>
{% endblock %}
