{% extends 'base.html' %}
{% load static %}

{% block hat %}
{% include 'noauth_base.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <h3 class="font-weight-bold">Log In</h3>
        </div>
    </div>
    
    <hr>
    
    <form enctype="multipart/form-data" method="POST" class="post-form">
        {% csrf_token %}
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Login:</label>
            <div class="col-sm-4">
                {{ form.username }}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
                {{ form.password }}
            </div>
        </div>
        
        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Incorrect login or password</strong>
            </div>
        {% endif %}
            
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Save!</button>
    </form>

    <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
            <a href="{% url 'signup_page' %}" class="text-muted">Create new account</a>
        </div>
    </div>
{% endblock %}
  
